<h1><%= @course.name%></h1>
<table>
    <tr>
        <th><h2>Questions: </h2></th>
    </tr>
    <% @course.questions.each do |question| %>
    <tr>
        <% if session[:user_id]%> 
        <td><%= link_to "#{question.name}", course_question_path(@course.id, question) %></td>
        <% else %> 
        <td><%= link_to "#{question.name}", new_course_question_answer_path(@course.id, question) %></td
        <% end %>
    </tr>
    <% end %>
</table>
<br />
