<h1>New question </h1>
<h1>questions#new</h1>


<%= form_for(@course) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
   <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit("submit") %>
  </div>
<% end %>

