<h1>answer#new</h1><br/>
<h1>New Answer </h1>
<h2> <%="#{@question.name}"%></h2>

<ol>

    <% form_for ([@course, @question ,@question.answers.build])  do |f|%>
        <% @question.answer_options.each do |q|%>
             <li><%= q.title %> : <%= radio_button_tag 'answer_option_id', q.choice%> </li>
        <% end %>

    <% end %>   
</ol>