<h1>Courses#comments</h1>
<p>Find me in app/views/courses/comments.html.erb</p>
<h1>Questions#comments</h1>
<p>Find me in app/views/questions/comments.html.erb</p>

<% @course.questions do |q|%>
    <% q.answers do |a|%>
    
    % end %

<%end%>
