<h1>Listing all comments for <%="#{@course.name}"%></h1>
<div class="commentCourse">
<% @course.questions.each do |q|%>
    <h2><%= q.name%></h2>
    <% if q.comments.empty?%>
        <h3>Kurssilla ei kommentteja</h3>
     <% else %>
    
        <% q.comments.each do |c|%>
        <div class="commentComment">
            <fieldset>
            <legend><%= c.created_at%></legend>
             <p id="poikki"><%= c.body%></p>
            </fieldset>
        </div>
        <% end %>
    
    <% end %>
    </div>

<%end%>
