<% if flash[:warning] or flash[:notice] %>
  <div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  </div>
  <script type="text/javascript">
    setTimeout("new Effect.Fade('notice');", 15000)
  </script>
<% end %>

<h1>List of Courses</h1>

<table>
   <tr>
    <th><h2>Name</h2></th>
   </tr>

  <% @courses.each do |course| %>
    <tr class="listedCourses">
      <td><%= link_to "#{course.name}", course_questions_path(course) %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Rename', edit_course_path(course) %></td>
      <% end %>

      <% if user_signed_in? %>
        <td><%= link_to 'Delete', course, confirm: 'Are you sure', method: :delete %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
