%h1 List of Courses
%table.table-striped.table-hover
  %thead
    %th
      Name
    %th
    %th
  %tbody
  - @courses.each do |course|
    %tr.listedCourses{"data-href" => course_questions_path(course)}
      %td= link_to "#{course.name}", course_questions_path(course)
      - if @current_user
        %td= link_to 'Rename', edit_course_path(course)
      - begin
        - if @current_user.admin?
          %td
            = link_to 'Delete', course, confirm: 'Are you sure', method: :delete
      - rescue
