/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#kaikki {
    background: LightGoldenRodYellow;
}


body {
    margin: 1em auto;
    max-width: 70%;
    border: dotted 1px black;
}
div.navi {
    margin: 25px;
    float: left;
    width: 270px;
    color: black;
    background-color: #D0D0D0;
    border: solid black 1px;
    margin-top: 35px;
    min-height: 300px;
    padding: 10px;
    padding-right: 0px;
}
/*ul.naviNoDots{
    list-style-image: none;
    list-style: none;
}*/
div.with {
    background-color: #efefef;
}


div.withNavi div.content {
    padding-left: 350px;
    background-color: #efefef/*#eee*/;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 700px;
/*    margin-left: 30px;*/


}
div.withOutNavi div.content {
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 1px;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 275px;
    text-indent: 15px;
/*text-indent: 15px;
   text-align: center;*/
}
div.footer {
    /*margin: 1em;*/
    font-size: 1px;
    border-top: solid 2px gray;
    background-color: #eee;
    padding: 1em;
}

p.footer {
    font-size: 10em;
    text-indent: 20px;
}

div.fields{


    margin-right: 0.5em;

}

input.inputti{
    margin-left: 20px;
    display: block;
}