/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#kaikki {
    background: LightGoldenRodYellow;
}


body {
    margin: 1em auto;
    max-width: 60%;
    border: dotted 1px black;
}
div.navi {
    margin: 25px;
    float: left;
    width: 170px;
    color: black;
    background-color: #D0D0D0;
    border: solid black 1px;
    margin-top: 75px;
    min-height: 250px;
    padding: 10px;
    padding-right: 0px;
   /* text-indent: -30px;*/
    
    
    
}
/*ul.naviNoDots{
    list-style-image: none;
    list-style: none;
}*/
div.withNavi div.content {
    padding-left: 200px;
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 700px;
    
}
div.withOutNavi div.content {
    padding-left: 1px;
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    min-height: 275px;
    text-indent: 15px;
}
div.footer {
    /*margin: 1em;*/
    border-top: solid 2px gray;
    background-color: #eee;
    padding: 1em;
}