// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.commentCourse {
    /*background-color: blue;*/
    text-indent: 10px;
    margin: 20px;
    border: solid 1px black;
    background-color: #E0E0E0;
}

div.commentComment{
  word-wrap: break-word;
  margin: 10px;
  width: 90%;
  text-indent: 10px;
  border: solid 1px darkgrey;
  background-color: #D8D8D8/*D0D0D0*/;
}



